*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;

    font-family: cursive;
} 

.Button {
    background-color: rgba(255, 159, 0, 0.7);
    width: 20%;
    height: 5%;
    text-align: center;
}

.Button:active {
    background-color: rgba(255, 159, 0, 0.4);
    color: rgba(0, 0, 0, 0.5);
}
