.registerMainScreen{
    width: 100%;
    
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.registerInputs{
    width: 250px;
    height: 200px;

    align-items: center;
    gap: 5px;

    margin: 10px;
    padding: 10px 10px;

    background-color: #ff9f00;    
}

.registerInput{
    width: 230px;
    background-color: rgba(255, 255, 255, 0.5);
}

.registerOk{
    padding-left: 40px;
}